<!-- 覆盖主题 modal_search.html：页面内链接卡片实时过滤 -->
<div class="modal fade" id="search-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-transparent border-0">
            <div class="modal-body px-3">
                <div class="mx-auto" style="max-width: 520px;">
                    <input type="text" id="modal-filter-input" class="form-control form-control-lg text-center"
                        placeholder="搜索..." autocomplete="off" style="border-radius: 2rem; background: #fff; color: #333;">
                    <div id="modal-filter-count" class="text-center text-white-50 small mt-2" style="display:none;"></div>
                </div>
            </div>
            <div class="text-center pb-3">
                <a href="javascript:" data-dismiss="modal" class="text-white-50"><i class="iconfont icon-close-circle icon-2x"></i></a>
            </div>
        </div>
    </div>
</div>
